*
!/.gitignore
!/.travis.yml
!/pom.xml
!/README.md
!/LICENSE
!/codegeny-semver-annotations
/codegeny-semver-annotations/*
!/codegeny-semver-annotations/pom.xml
!/codegeny-semver-annotations/src/
!/codegeny-semver-maven-plugin
/codegeny-semver-maven-plugin/*
!/codegeny-semver-maven-plugin/pom.xml
!/codegeny-semver-maven-plugin/src/
!/codegeny-semver-example
/codegeny-semver-example/*
!/codegeny-semver-example/pom.xml
!/codegeny-semver-example/src/
